# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv/
*.egg-info/
*.egg

# Node / React
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# VS Code
.vscode/

# Docker
*.pid
*.log
